<p id="notice"><%= notice %></p>

<h1>Listing Corporations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Outline</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corporations.each do |corporation| %>
      <tr>
        <td><%= corporation.name %></td>
        <td><%= corporation.outline %></td>
        <td><%= corporation.email %></td>
        <td><%= corporation.password %></td>
        <td><%= link_to 'Show', corporation %></td>
        <td><%= link_to 'Edit', edit_corporation_path(corporation) %></td>
        <td><%= link_to 'Destroy', corporation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corporation', new_corporation_path %>
