<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @offer.detail %>
</p>

<p>
  <strong>Corporation:</strong>
  <%= @offer.corporation_id %>
</p>

<p>
  <strong>Wanted:</strong>
  <%= @offer.wanted %>
</p>

<p>
  <strong>Limited on:</strong>
  <%= @offer.limited_on %>
</p>

<p>
  <strong>Category:</strong>
  <%= @offer.category_id %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
